*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
body{
    background-color: rgb(78, 73, 112);
}
.container{
    background-color: white;
    width: 70%;
    margin: auto;
    min-height: 100vh;
    padding: 15px;
    

}
form{
    display: flex;
    flex-direction: column;
}
input,button,textarea{
    padding: 10px;
    border: 1px solid black;
    outline: none;
    margin:10px;
    border-radius: 5px;
    
}
button{
    background-color: rgb(78, 73, 112) ;
    cursor: pointer;
    color: white;
}
button:hover{
    background-color:rgb(40, 31, 65) ;
}
.task{
    background-color: rgb(244, 244, 244);
    display: flex;
    flex-direction: row;
    margin: 10px;
    padding: 10px;
    align-items: center;
   

}
.task span{
    color: rgba(0, 0, 0, 0.6);
}
.rmv{
    border: none;
    outline: none;
    border-radius: 50%;
    height: 25px;
    width: 25px;
    font-size:1.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.rmv:hover{
    background-color: rgb(178, 14, 14);
}
.task>div{
    width: 100%;
}
h1{
    margin: 20px;
    font: 3rem;
    text-align: center;
    color: black;
}
